<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <base href="/login">
    <link rel="stylesheet" type="text/css" href="calendar.css">
    <meta charset="utf-8"/>
    <title>google calendar</title>
    <script>
        var current_month = new Date().getMonth() + 1;

        var current_year = new Date().getFullYear();

        function startMonth() {
            document.getElementById(current_month).style.cssText = 'font-weight: bold; color: #747978';
        }

        function checkLeapYear(year) {
            if (year % 400 == 0)
                return true;
            else if (year % 100 == 0)
                return false;
            else if (year % 4 == 0)
                return true;
            else
                return false;
        }

        function getFirstDayOfWeek(year, month) {
            if (month < 10) month = "0" + month;

            console.log("출력: " + (new Date(year + "-" + month + "-01")));
            return (new Date(year + "-" + month + "-01")).getDay();
        }

        function changeYearMonth(year, month) {
            let month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            if (month == 2) {
                if (checkLeapYear(year)) month_day[1] = 29;
            }

            let first_day_of_week = getFirstDayOfWeek(year, month);
            let arr_calendar = [];
            for (let i = 0; i < first_day_of_week; i++) {
                arr_calendar.push("&nbsp");
            }

            for (let i = 1; i <= month_day[month - 1]; i++) {
                arr_calendar.push(String(i));
            }

            let remain_day = 7 - (arr_calendar.length % 7);
            if (remain_day < 7) {
                for (let i = 0; i < remain_day; i++) {
                    arr_calendar.push("");
                }
            }
            renderCalendar(arr_calendar);
        }

        function renderCalendar(data) {
            for (let i = 0; i < data.length; i++) {
                if (i == 0) {
                    document.getElementById("daysbody").innerHTML = "<ul>";
                } else if (i & 7 == 0) {
                    document.getElementById("daysbody").innerHTML += "</ul>";
                    document.getElementById("daysbody").innerHTML += "<ul>";
                }
                document.getElementById("daysbody").innerHTML += "<li>" + data[i] + "</li>";
            }
        }

        function changeMonth(count) {
            if (count == 1) {
                document.getElementById('1').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            } else if (count != 1) document.getElementById('1').style.cssText = '';
            if (count == 2) {
                changeYearMonth(current_year, count);
                document.getElementById('2').style.cssText = 'font-weight: bold; color: #747978';
            }else if (count != 2) document.getElementById('2').style.cssText = '';
            if (count == 3) {
                document.getElementById('3').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 3) document.getElementById('3').style.cssText = '';
            if (count == 4) {
                document.getElementById('4').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 4) document.getElementById('4').style.cssText = '';
            if (count == 5) {
                document.getElementById('5').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 5) document.getElementById('5').style.cssText = '';
            if (count == 6) {
                document.getElementById('6').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 6) document.getElementById('6').style.cssText = '';
            if (count == 7) {
                document.getElementById('7').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 7) document.getElementById('7').style.cssText = '';
            if (count == 8) {
                document.getElementById('8').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 8) document.getElementById('8').style.cssText = '';
            if (count == 9) {
                document.getElementById('9').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 9) document.getElementById('9').style.cssText = '';
            if (count == 10) {
                document.getElementById('10').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 10) document.getElementById('10').style.cssText = '';
            if (count == 11) {
                document.getElementById('11').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 11) document.getElementById('11').style.cssText = '';
            if (count == 12) {
                document.getElementById('12').style.cssText = 'font-weight: bold; color: #747978';
                changeYearMonth(current_year, count);
            }else if (count != 12) document.getElementById('12').style.cssText = '';
        }
    </script>
</head>
<body>
<h1>Google Calendar</h1>
<!--    <iframe src="https://calendar.google.com/calendar/embed?src=handsun000%40gmail.com&ctz=Asia%2FSeoul" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->

<div class="calendar">

    <div class="col leftCol">
        <div class="content">
            <h1 class="date" th:text="${#dates.monthName(standardDate)}">Friday<span>September 12th</span></h1>
            <div class="notes">
                <p>
                    <input type="text" value="" placeholder="new note"/>
                    <a href="#" title="Add note" class="addNote animate">+</a>
                </p>
                <ul class="noteList">
                    <li th:text="${name}">Headbutt a lion<a href="#" title="Remove note"
                                                            class="removeNote animate">x</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col rightCol">
        <div class="content">
            <h2 class="years" id="year" th:text="${#calendars.format(#calendars.createNow(), 'yyyy')}">2013</h2>
            <ul class="months" id="month">
                <li><a href="/#" title="Jan" data-value="1" id="1"
                       onclick="changeMonth(document.getElementById('1').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('1')} ? 'selected' : ''">Jan</a></li>
                <li><a href="/#" title="Feb" data-value="2" id="2"
                       onclick="changeMonth(document.getElementById('2').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('2')} ? 'selected' : ''">Feb</a></li>
                <li><a href="/#" title="Mar" data-value="3" id="3"
                       onclick="changeMonth(document.getElementById('3').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('3')} ? 'selected' : ''">Mar</a></li>
                <li><a href="/#" title="Apr" data-value="4" id="4"
                       onclick="changeMonth(document.getElementById('4').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('4')} ? 'selected' : ''">Apr</a></li>
                <li><a href="/#" title="May" data-value="5" id="5"
                       onclick="changeMonth(document.getElementById('5').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('5')} ? 'selected' : ''">May</a></li>
                <li><a href="/#" title="Jun" data-value="6" id="6"
                       onclick="changeMonth(document.getElementById('6').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('6')} ? 'selected' : ''">Jun</a></li>
                <li><a href="/#" title="Jul" data-value="7" id="7"
                       onclick="changeMonth(document.getElementById('7').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('7')} ? 'selected' : ''">Jul</a></li>
                <li><a href="/#" title="Aug" data-value="8" id="8"
                       onclick="changeMonth(document.getElementById('8').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('8')} ? 'selected' : ''">Aug</a></li>
                <li><a href="/#" title="Sep" data-value="9" id="9"
                       onclick="changeMonth(document.getElementById('9').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('9')} ? 'selected' : ''">Sep</a></li>
                <li><a href="/#" title="Oct" data-value="10" id="10"
                       onclick="changeMonth(document.getElementById('10').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('10')} ? 'selected' : ''">Oct</a></li>
                <li><a href="/#" title="Nov" data-value="11" id="11"
                       onclick="changeMonth(document.getElementById('11').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('11')} ? 'selected' : ''">Nov</a></li>
                <li><a href="/#" title="Dec" data-value="12" id="12"
                       onclick="changeMonth(document.getElementById('12').dataset.value);"
                       th:class="${#dates.month(standardDate).equals('12')} ? 'selected' : ''">Dec</a></li>
            <script>startMonth()</script>
            </ul>
            <div class="clearfix"></div>
            <ul class="weekday">
                <li><a href="#" title="Sun" data-value="1">Sun</a></li>
                <li><a href="#" title="Mon" data-value="2">Mon</a></li>
                <li><a href="#" title="Tue" data-value="3">Tue</a></li>
                <li><a href="#" title="Wed" data-value="4">Wed</a></li>
                <li><a href="#" title="Thu" data-value="5">Thu</a></li>
                <li><a href="#" title="Fri" data-value="6">Fri</a></li>
                <li><a href="#" title="Say" data-value="7">Sat</a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="days" id="daysbody">
                <script>
                    changeYearMonth(current_year, current_month);
                </script>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
</body>
</html>